html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  color: #525c65;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  display: block;
}

#contain-all {
  width: 100%;
  overflow: hidden;
  background: #fff;
  backface-visibility: hidden;
}

.contain {
  max-width: 73.75rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.contain::after {
  clear: both;
  content: "";
  display: table;
}

@media screen and (min-width: 48rem) {
  .contain {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 73.75rem) {
  .contain {
    padding-left: 0;
    padding-right: 0;
  }
}

.h6 {
  font-size: 0.8125rem;
  line-height: 1.5rem;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #2e3d49;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #2e3d49;
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 48rem) {
  .h6 {
    font-size: 0.8125rem;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.button {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #68717a;
  color: #fff;
}

.button:active {
  background-color: #4e5154;
  transform: translateY(2px);
}

.slideout-panel {
  position: relative;
  z-index: 7000;
}

.page-leaderboard {
  background-color: #fafbfc;
}

.page-leaderboard .ranking {
  clear: both;
}

.page-leaderboard .ranking .contain {
  padding: 0 1.5em;
}

.page-leaderboard .ranking .ranking-table {
  max-width: 66em;
  margin: 0 auto;
}

.page-leaderboard .ranking .ranking-table-body {
  box-shadow: 0 0 0.75em 0 rgba(46, 60, 73, 0.12);
  border-radius: 0.375rem;
  border: solid 0.063em #dbe2e8;
  max-height: 24.625em;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-body {
    max-height: 31.125em;
  }
}

.page-leaderboard .ranking .ranking-table-header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1.125em;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-header-row {
    padding-top: 1.875em;
  }
}

.page-leaderboard .ranking .ranking-table-header-data {
  text-align: center;
  align-self: center;
}

.page-leaderboard .ranking .ranking-table-header-data:first-child {
  width: 20%;
}

@media (min-width: 48em) {
  .page-leaderboard .ranking .ranking-table-header-data:first-child {
    width: 15%;
  }
}

.page-leaderboard .ranking .ranking-table-header-data:nth-child(2) {
  padding-left: 9%;
  text-align: left;
  width: 50%;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-header-data:nth-child(2) {
    padding-left: 6.3%;
  }
}

@media (min-width: 48em) {
  .page-leaderboard .ranking .ranking-table-header-data:nth-child(2) {
    padding-left: 9%;
    width: 55%;
  }
}

@media (min-width: 70em) {
  .page-leaderboard .ranking .ranking-table-header-data:nth-child(2) {
    padding-left: 4%;
  }
}

.page-leaderboard .ranking .ranking-table-header-data:nth-child(3) {
  width: 30%;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-header-data:nth-child(3) {
    width: 25%;
  }
}

.page-leaderboard .ranking .ranking-button-schools {
  margin-bottom: 1.25em;
  text-align: center;
}

.page-leaderboard .ranking .ranking-table-schools {
  display: none;
}

.page-leaderboard .ranking .ranking-table-schools h2 {
  text-align: center;
}

.page-leaderboard .ranking .ranking-button-schools .schools {
  padding-top: .875em;
  padding-bottom: .875em;
  background-color: #fff;
  box-shadow: 0 0 0.75em 0 rgba(46, 60, 73, 0.12);
  border-radius: 0.375rem;
  border: solid 0.063em #dbe2e8;
  max-height: 24.625em;
}

.page-leaderboard .ranking .ranking-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: .875em;
  padding-bottom: .875em;
  background-color: #fff;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-row {
    padding-top: 1.125em;
    padding-bottom: 1.125em;
  }
}

.page-leaderboard .ranking .ranking-table-row:nth-child(even) {
  background-color: #fafbfc;
}

.page-leaderboard .ranking .ranking-table-row-leader-1,
.page-leaderboard .ranking .ranking-table-row-leader-2,
.page-leaderboard .ranking .ranking-table-row-leader-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: .875em;
  padding-bottom: .875em;
  background-color: #fff;
  box-shadow: 0 0 0.75em 0 rgba(46, 60, 73, 0.12);
  border-radius: 0.375rem;
  margin-bottom: 1.25em;
}

@media (min-width: 33em) {

  .page-leaderboard .ranking .ranking-table-row-leader-1,
  .page-leaderboard .ranking .ranking-table-row-leader-2,
  .page-leaderboard .ranking .ranking-table-row-leader-3 {
    padding-top: 1.125em;
    padding-bottom: 1.125em;
  }
}

.page-leaderboard .ranking .ranking-table-row-leader-1 .ranking-table-data-leader-1,
.page-leaderboard .ranking .ranking-table-row-leader-2 .ranking-table-data-leader-2,
.page-leaderboard .ranking .ranking-table-row-leader-3 .ranking-table-data-leader-3 {
  display: flex;
  justify-content: center;
  width: 20%;
}

@media (min-width: 48em) {

  .page-leaderboard .ranking .ranking-table-row-leader-1 .ranking-table-data-leader-1,
  .page-leaderboard .ranking .ranking-table-row-leader-2 .ranking-table-data-leader-2,
  .page-leaderboard .ranking .ranking-table-row-leader-3 .ranking-table-data-leader-3 {
    width: 15%;
  }
}

.page-leaderboard .ranking .ranking-table-row-leader-1 .ranking-table-data-leader-1 .medal-gold,
.page-leaderboard .ranking .ranking-table-row-leader-2 .ranking-table-data-leader-2 .medal-silver,
.page-leaderboard .ranking .ranking-table-row-leader-3 .ranking-table-data-leader-3 .medal-bronze {
  margin-top: -1.313em;
  height: 2.875em;
  width: 2.875em;
}

@media (min-width: 33em) {

  .page-leaderboard .ranking .ranking-table-row-leader-1 .ranking-table-data-leader-1 .medal-gold,
  .page-leaderboard .ranking .ranking-table-row-leader-2 .ranking-table-data-leader-2 .medal-silver,
  .page-leaderboard .ranking .ranking-table-row-leader-3 .ranking-table-data-leader-3 .medal-bronze {
    margin-top: -1.563em;
    height: 3.875em;
    width: 3.875em;
  }
}

.page-leaderboard .ranking .ranking-table-row-leader-1 {
  border: solid 0.125em #ecc81a;
}

.page-leaderboard .ranking .ranking-table-row-leader-1 .ranking-table-data-leader-1 .medal-gold {
  background: url(https://d125fmws0bore1.cloudfront.net/assets/pages/leaderboard/medal-gold-c49052bfa07f36621f16dbe77f7fc36cbafd72ff088ea970256ff998be05687b.svg) no-repeat;
  background-size: contain;
}

.page-leaderboard .ranking .ranking-table-row-leader-2 {
  border: solid 0.125em #dbe2e8;
}

.page-leaderboard .ranking .ranking-table-row-leader-2 .ranking-table-data-leader-2 .medal-silver {
  background: url(https://d125fmws0bore1.cloudfront.net/assets/pages/leaderboard/medal-silver-d099c5dd916c167c3ba4716c8968a819f317daaef1901c8e8bae6c6932852faa.svg) no-repeat;
  background-size: contain;
}

.page-leaderboard .ranking .ranking-table-row-leader-3 {
  border: solid 0.125em #dfdfd1;
}

.page-leaderboard .ranking .ranking-table-row-leader-3 .ranking-table-data-leader-3 .medal-bronze {
  background: url(https://d125fmws0bore1.cloudfront.net/assets/pages/leaderboard/medal-bronze-d0f15d413800257442c8d4b2d5239cfe28c9fd9594f863ab1fad5258f8d1d5eb.svg) no-repeat;
  background-size: contain;
}

.page-leaderboard .ranking .ranking-table-data {
  align-self: center;
  color: #525c65;
  font-size: 1em;
}

.page-leaderboard .ranking .ranking-table-data:first-child {
  text-align: center;
  width: 20%;
  color: #525c65;
  font-weight: 600;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-data:first-child {
    font-size: 1.25em;
  }
}

@media (min-width: 48em) {
  .page-leaderboard .ranking .ranking-table-data:first-child {
    width: 15%;
  }
}

.page-leaderboard .ranking .ranking-table-data:nth-child(2) {
  color: #2e3d49;
  width: 55%;
  font-size: .875em;
  padding-left: 9%;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-data:nth-child(2) {
    font-size: 1em;
  }
}

@media (min-width: 48em) {
  .page-leaderboard .ranking .ranking-table-data:nth-child(2) {
    font-size: 1em;
    width: 55%;
  }
}

@media (min-width: 70em) {
  .page-leaderboard .ranking .ranking-table-data:nth-child(2) {
    font-size: 1em;
    padding-left: 4%;
  }
}

.page-leaderboard .ranking .ranking-table-data:nth-child(3) {
  font-size: .875em;
  text-align: center;
  width: 25%;
  padding-right: 4%;
}

@media (min-width: 33em) {
  .page-leaderboard .ranking .ranking-table-data:nth-child(3) {
    padding-right: 0%;
    font-size: 1em;
  }
}

/*! CSS Used fontfaces */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format("woff");
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format("woff");
}
